.ssy-content {
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
  padding-top: 0;
  padding-bottom: 0;
}
/* 内容分区 -- Panel 面板 */
/* Panel 标题 */
.ssy-content .ssy-panel-title {
  height: 1.8rem;
  line-height: 1.8rem;
  padding-left: 1rem;
  color: #aaa;
  background: #fff;
  border-top: 1px solid #eee;
  font-size: 14px;
  font-weight: normal;
}
/*蒙版遮罩*/
.ssy-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 200;
}

/* Panel 内容区 */
.ssy-content .ssy-panel-body {
  position: relative;
  margin-bottom: .6rem;
  padding: .6rem 1rem;
  background: #fff;
  overflow: hidden;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* 可手动设置内容区是否有内边距 */
.ssy-content .ssy-panel-body.no-padding {
  padding: 0;
}
/* 表单的单行容器 */
.ssy-form-item {
  display: flex;
  position: relative;
  padding-left: 1rem;
  border-bottom: 1px solid #eee;
}

/* 去掉最后一行的下边框 */
.ssy-form-item:last-child {
  border-bottom: none;
}
.ssy-form-item>.ssy-form-label {
  display: block;
  width: 3.5rem;
  font-size: .8rem;
  color: #666;
  height: 2rem;
  line-height: 2rem;
}

/* 表单内容区 */
.ssy-form-item>.ssy-form-body {
  flex: 1;
}

/* 输入框 */
.ssy-form-item>.ssy-form-body>.ssy-input {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: .8rem;
  border: none;
}
.ssy-form-item>.ssy-form-body>.ssy-input-reset {
  position: absolute;
  width: .8rem;
  height: .8rem;
  line-height: .8rem;
  top: 50%;
  margin-top: -.4rem;
  right: 1rem;
  font-size: .6rem;
  background: #aaa;
  color: #fff;
  border-radius: 50%;
}
/* 自定义单选 */
.ssy-form-item>.ssy-radio {
  flex: 1;
  font-size: .8rem;
  line-height: 2rem;
}

/* 未选中状态的图标 */
.ssy-form-item>.ssy-radio>.ssy-radio-icon {
  margin-right: .5rem;
  color: #09BB07;
  visibility: hidden;
}

/* 选中状态的图标 */
.ssy-form-item>.ssy-radio.checked>.ssy-radio-icon {
  visibility: visible;
}

/* 隐藏的radio类型的input */
.ssy-form-item>.ssy-radio>.ssy-radio-input {
  position: absolute;
  left: -999rem;
}
/* 标题导航 */
.ssy-content .ssy-panel-title>.ssy-panel-link {
  float: right;
  margin-right: 1rem;
  color: #aaa;
}