/* 自定义单选 */
.ssy-form-item>.ssy-radio {
    flex: 1;
    font-size: .8rem;
    line-height: 2rem;
  }
  
  /* 未选中状态的图标 */
  .ssy-form-item>.ssy-radio>.ssy-radio-icon {
    margin-right: .5rem;
    color: #09BB07;
    visibility: hidden;
  }
  
  /* 选中状态的图标 */
  .ssy-form-item>.ssy-radio.checked>.ssy-radio-icon {
    visibility: visible;
  }
  
  /* 隐藏的radio类型的input */
  .ssy-form-item>.ssy-radio>.ssy-radio-input {
    position: absolute;
    left: -999rem;
  }
  /* 表单中的错误提示按钮 */
.ssy-form-item>.ssy-form-body>.ssy-input-warning {
    position: absolute;
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    top: 50%;
    margin-top: -.4rem;
    right: 1rem;
    font-size: .6rem;
    border-radius: 50%;
    color: red;
    border: 1px solid red;
  }
  /* 表单中的错误提示按钮 */
.ssy-form-item>.ssy-form-body>.ssy-input-warning {
    position: absolute;
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    top: 50%;
    margin-top: -.4rem;
    right: 1rem;
    font-size: .6rem;
    border-radius: 50%;
    color: red;
    border: 1px solid red;
  }
  /* 自定义单选 */
.ssy-form-item>.ssy-radio {
    flex: 1;
    font-size: .8rem;
    line-height: 2rem;
  }
  
  /* 未选中状态的图标 */
  .ssy-form-item>.ssy-radio>.ssy-radio-icon {
    margin-right: .5rem;
    color: #09BB07;
    visibility: hidden;
  }
  
  /* 选中状态的图标 */
  .ssy-form-item>.ssy-radio.checked>.ssy-radio-icon {
    visibility: visible;
  }
  
  /* 隐藏的radio类型的input */
  .ssy-form-item>.ssy-radio>.ssy-radio-input {
    position: absolute;
    left: -999rem;
  }
  /* 自定义多选 */
.ssy-form-item > .ssy-check{
    flex: 1;
    font-size: .8rem;
    line-height: 2rem;
  }
  
  /* 未选中时的图标 */
  .ssy-form-item > .ssy-check > .ssy-check-icon{
    margin-right: .5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: rgba(0,0,0,0);
    font-size: .6rem;
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
  }
  
  /* 选中时的图标 */
  .ssy-form-item > .ssy-check.checked > .ssy-check-icon{
    background: #09BB07;
    color: #fff;
    border-color: rgba(0,0,0,0)
  }
  
  /* 隐藏的check类型的input */
  .ssy-form-item > .ssy-check > .ssy-check-input{
    position: absolute;
    left: -999rem;
  }